.section__command {
  background-color: #f5f4fa;
}

.section__command__container {
  padding-top: 94px;
}

.section__command__heading {
  color: var(--tittle-text-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.card__group {
  // padding-top: 50px;
  padding-bottom: 94px;

  @media (min-width: 768px) {
    padding-top: 30px;

    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media (min-width: 1200px) {
    padding-top: 50px;
  }
}

.card__group__item:not(:last-child) {
  margin-bottom: unset;

  @media (min-width: 768px) {
    margin-bottom: unset;
  }
}

.card__group__item {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.card__group__item,
.card__group__link {
  background-color: var(--white-color);
  text-decoration: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__group__title {
  color: var(--tittle-text-color-black);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.card__group__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  @media (min-width: 1200px) {
    display: unset;
    justify-content: unset;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 16px 32px 30px 32px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;

  &:hover,
  &:focus {
    background-color: var(--blue-color);
    fill: var(--white-color);
  }
}
